
.DS_Store
TweetEmojiAnalyzer.xcworkspace/xcuserdata/shunzhema.xcuserdatad/UserInterfaceState.xcuserstate
TweetEmojiAnalyzer.xcodeproj/project.xcworkspace/xcuserdata/shunzhema.xcuserdatad/UserInterfaceState.xcuserstate
TweetEmojiAnalyzer.xcworkspace/xcuserdata/shunzhema.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
TweetEmojiAnalyzer/AppDelegate.swift